body{
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  margin: 0px;
}
#app {
  font-family: 'Helvetica, Pingfang SC, Microsoft YaHei, STHeiti, Verdana, Arial,Tahoma, sans-serif';
  font-size: 12px;
}
.pos-rlt {position: relative}
.pos-abs {position: absolute}
.text-14 {font-size: 14px}
.bg-white {background-color: white;}
.bg-light-gray { background-color: #f8f8f8}
.color-default {color: #5E6D82}
.color-blue {color: #409eff}
.overflow-auto { overflow: auto }
.b-b-line { border-bottom: 1px solid #efefef}
.border-default {border: 1px solid #efefef}
.shadow-default {
  box-shadow: 1px 1px 9px 0px #efefef;
}
.pre {
  white-space: pre;
}
.line-height-2 {line-height: 2;}

.shadow-hover:hover {
  @extend .shadow-default;
}

.code-str {
  max-height: 2000px;
  transition: max-height 1s ease-in;
  overflow: hidden;
  &.hidden-code-str {
    max-height: 0px;
    transition: max-height 1s ease-out;
  }
}
.code-str-header {
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: white;
  @extend .border-default;
  &:hover {
    color: #409eff;
  }
}

.code-line {
  background: #e6effb;
  padding: 2px 8px;
  border-radius: 4px;
}

.code-explain {
  margin:20px 20px 0px 20px;
  height: 50px;
  line-height: 50px;
  background: white;
  padding-left: 20px;
  border-radius: 4px;
  @extend .color-default;
  @extend .text-14;
}

.show-code-direction {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}



.h-full {height: 100%;}
.h-60 {height: 60px}

.w-full {width: 100%;}
.w-150 { width: 150px}
.w-250 { width: 250px }

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-1 {flex: 1;}
.flex-v-center { align-items: center }
.flex-h-center { justify-content: center }

.p-20 {padding: 20px}
.m-l-10 {margin-left: 10px}
.m-t-20 {margin-top: 20px;}
.m-t-50 {margin-top: 50px;}
